# Ignore virtual environments
hqnn-venv/
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode project settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
